* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  height: 10000px;
}
/* Common */
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  color: white;
  font-weight: 600;
  background: #171100;
  line-height: 50px;
  padding: 0px 16px;
  border-radius: 24.5px;
  text-align: center;
  min-width: 118px;
}
/* header */
.header {
  background-color: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  padding-top: 36px;
  padding-bottom: 8px;
  align-items: center;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.nav a {
  padding: 8px 21px;
  color: #5f5b53;
  position: relative;
}
.nav li a:hover,
.nav li.active a {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 8px;
  content: "";
  width: 12px;
  height: 2px;
  background-color: #171100;
}
.btn-sign-up {
  min-width: 144px;
  margin-left: 36px;
}
